{% include 'webtop.html' %}

<!DOCTYPE html>
<html>
    <head>
        <title>BoomerangNet</title>
    </head>
    <body>
        <div class="container">
            <h1>BoomerangNet</h1>
            <h3>A 3rd party network for Beatcraft Cyclon, written in Flask.</h3>
            <br>
            <br>
            <h4>For network services, please send game data to <a href={{url_for('services')}}>{{url_for('services')}}</a></h4>
            <h4>For webui, please go to <a href={{url_for('top')}}>{{url_for('top')}}</a></h4>
        </div>
    </body>
</html>