{% include 'loaduser.html' %}
<br>

<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <h3>Successfully loaded user <samp>{{ username }}</samp></h3>
            <p>Input your updated data.</p>
            <br>
            <form action='' method = "POST">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{username}}">
                <input type="hidden" name="iconid" id="iconid" value="{{iconid}}" />
                <input type="hidden" name="userid" id="userid" value="{{userid}}" />
                <br>
                <h4>Profile Icon</h4>
                <select name="iconid" type="text" class="form-select iconid" aria-label="iconid">
                </select>
                <p><input type = "submit" value = "Update" /></p>
            </form>
            <script>
                var ddData = [
                    {% for id, icon in iconlist %}
                    {
                        text: "",
                        value: {{id}},
                        selected: false,
                        description: "",
                        imageSrc: "{{url_for('icons', filename=icon)}}"
                    },
                    {% endfor %}
                ];

                $('.iconid').ddslick({
                    width:115,
                    defaultSelectedIndex:{{iconid}},
                    data: ddData,
                    onSelected: function(selectedData){
                        $('#iconid').val(selectedData.selectedData.value);
                    }
                });
            </script>
        </div>
    </body>
</html>
