{% include 'webtop.html' %}

<!DOCTYPE html>
<html>
    <head>
        <title>User Modification</title>
    </head>
    <body>
        <div class="container">
            <h1>Edit User</h1>
            <p>Input your cardid to edit your accout.</p>
            <br>
            <form action='' method = "POST">
                <input type="text" class="form-control" id="cardid" name="cardid" minlength="20" maxlength="20" placeholder="CardID" required>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
        </div>
    </body>
</html>